<section class="row" data-ng-controller="HomeController">

    <div class="container">
        <div class="row orange">
            <div class="row" style="padding:20px;">
                <h1 class="orange">Manage your Progress</h1>
                <h2 class="orange">Take your life into your own hands and pursue your dream!</h2>
            </div>
            <div class="row center">
                <div class="col-sm-6">
                    <img src="./modules/core/img/brand/hardwork.jpg" class="img-responsive center-block img-rounded" alt="hardwork">
                </div>                
                <div class="col-sm-6">
                    <p>gehtmaguad provides a service for tracking your progress on all tasks you are working on, so that you always no how much time and effort you put into your projects.</p>
                    <div class="row">
                    <div class="col-lg-6">
                        <a href="#!/signup" class="btn btn-warning btn-lg btn-block text-center" role="button">
                            <i class="glyphicon glyphicon-user"></i>
                            Register                            
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="orange" href="">Something else</a>                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bluebg">
            <p align="center">Track your personal goals and progress in 3 easy Steps:</p>
        </div>
    </div>


</section>
