<section class="row" data-ng-controller="HomeController">

</br>
</br>
<div class="jumbotron" style="background-color:#66CCCC">
  <h1>The Simple Activity Tracking Tool</h1>
  <p>Lets you define and monitor the tasks you are working on.</p>
  <p>
      <a class="btn btn-primary btn-lg" href="#!/signup" role="button">Sign Up!</a>
      <a href="#!/signin">or login with your existing account</a> 
  </p>
</div>
</br>
</br>
<div class="row">
<div class="list-group">
  <div class="col-sm-12 col-md-4 adding-vertical-space">
      <div class="landingbox">
      <div class="caption">
        </br>
        <p id="landingboxTitle"><i class="glyphicon glyphicon-file" style="color:#FF4444; padding-right:10px; padding-left:10px;"></i>Activities</p>
        <ul>
            <li>Create your activities</li>
            <li>Describe them</li>
            <li>Keep overview</li>
        </ul>
        </br>        
      </div>
      </div>      
  </div>
  
  <div class="col-sm-12 col-md-4 adding-vertical-space">
      <div class="landingbox">
      <div class="caption">
        </br>
        <p id="landingboxTitle"><i class="glyphicon glyphicon-pencil" style="color:#81C784; padding-right:10px; padding-left:10px;"></i>Entries</p>
        <ul> 
            <li>Log your activities</li>
            <li>Specity a duration and a date</li>
            <li>Inspect them at later time</li>
        </ul>
        </br>        
      </div>
      </div>      
  </div>
  
  <div class="col-sm-12 col-md-4 adding-vertical-space">
      <div class="landingbox">
      <div class="caption">
        </br>
        <p id="landingboxTitle"><i class="glyphicon glyphicon-stats" style="color:#00ADCE; padding-right:10px; padding-left:10px;"></i>Stats</p>
        <ul>
            <li>Analyse your activities</li>
            <li>Inspect different metrics</li>
            <li>Examine charts</li>
        </ul>
        </br>
      </div>
      </div>
  </div>  
</div>
</div>

</br>
</br>

<div class="row">
    <p align="center" style="color:#282828;font-size:24px;">© 2015 gehtmaguad, Crafted with <i class="glyphicon glyphicon-heart"></i> in Vienna, Austria.</p> 
    <p align="center" style="color:#282828;font-size:18px;">You can test this web application with Username tester and Password test, but when doing so please do not save sensitive data!</p>
</div>

</section>