<section class="row" data-ng-controller="HomeController">

    <div class="row orange">
        <div class="row" style="padding:20px;">
            <h1>Manage your Progress</h1>
            <h2>Take your life into your own hands and pursue your dream!</h2>
        </div>
        <div class="row" style="padding:20px; margin-bottom:40px;">
            <div class="col-sm-6">
                <img src="./modules/core/img/brand/hardwork.jpg" class="img-responsive center-block img-rounded" alt="hardwork">
            </div>                
            <div class="col-sm-6">
                <p>gehtmaguad provides a service for tracking your progress on all tasks you are working on, so that you always no how much time and effort you put into your projects.</p>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#!/signup" class="btn btn-warning btn-lg btn-block text-center" role="button">
                            <i class="glyphicon glyphicon-user"></i>
                            Register                            
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="">Something else</a>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row yellow" style="padding-bottom:50px;">
        <h3>Track your personal goals and progress in 3 easy Steps:</h3>
        <div class="list-group">
            <div class="col-xs-12 col-sm-4 adding-vertical-space">
                <div class="list-group-item">
                    <p align="center" style="color:#F44336;font-weight:bold;"><i class="glyphicon glyphicon-cog red-icon" style="font-size: 5em;"></i><br />1. Activities</p>
                </div>
                <div class="list-group-item" style="background-color:#FFEB3B;">
                    <p style="font-size:16px;">India and Bangladesh sign an agreement to simplify their border by exchanging 162 enclaves.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 adding-vertical-space">
                <div class="list-group-item">
                    <p align="center" style="color:#009688;font-weight:bold;"><i class="glyphicon glyphicon-pencil green-icon" style="font-size: 5em;"></i><br />2. Entries</p>                        
                </div>
                <div class="list-group-item" style="background-color:#FFEB3B;">
                    <p style="font-size:16px;">In horse racing, American Pharoah wins the Belmont Stakes to become the first US Triple Crown winner since 1978, and in the UK, Golden Horn wins the Epsom Derby.</p>
                </div>                    
            </div>
            <div class="col-xs-12 col-sm-4 adding-vertical-space">
                <div class="list-group-item">
                    <p align="center" style="color:#3F51B5;font-weight:bold;"><i class="glyphicon glyphicon-stats blue-icon" style="font-size: 5em;"></i><br />3. Stats</p>                          
                </div>
                <div class="list-group-item" style="background-color:#FFEB3B;">
                    <p style="font-size:16px;">In association football, the UEFA Champions League concludes with Barcelona defeating Juventus in the final.</p>
                </div>                    
            </div>                
        </div>
    </div>
    <div class="row gray" style="padding:50px;">
        <div class="col-sm-6">
            <div style="padding:20px;">
                <p align="center" style="letter-spacing: 20px;">
                    <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fa fa-envelope-o fa-2x"></i></a>
                </p>
            </div>
            <p align="center" style="color:#B6B6B6;font-size:16px;">© 2015 gehtmaguad, Crafted with <i class="glyphicon glyphicon-heart"></i> in Weikersdorf, Austria.</p>                        
        </div>
        <div class="col-sm-6">
            <img src="./modules/core/img/brand/logo.png" class="img-responsive center-block" style="opacity: 0.4;width: 50%;" alt="logo">
            <p align="center" style="color:#B6B6B6;font-size:16px;">1985 – The Schengen Agreement, a treaty to abolish systematic border controls between participating European countries, was signed between five of the ten member states of the European Economic Community.</p>
        </div>
    </div>

</section>
