.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.orange {
  background-color:#FFC107;
}
.orange h1 {
  color:#FFFFFF;
  font-family: "arial";
  text-align: center;
	font-weight:bold;
}
.orange h2 {
  color:#FFECB3;
  font-family: "arial";
  text-align: center;
  font-style: italic;
  font-size: 16px;
}
.orange p {
  color:#FFFFFF;
  font-family: "arial";
  font-size: 22px;
  padding:20px;
}
.orange a {
  text-decoration: underline;
  color: #FFFFFF;
  font-size: 18px;
}
.orange a:hover {
    color: #FFECB3;
}
.yellow h3 {
  color:#474545;
  font-family:"arial";
  font-size:24px;
  padding:20px;
  text-align: center;
  font-weight:bold;
}
.yellow {
  background-color:#FFECB3;
}
.yellow p {
  color:#474545;
  font-family: "arial";
  font-size: 22px;
  padding:20px;  
}
.green-icon {
    color: #009688;
}
.red-icon {
    color: #F44336;
}
.blue-icon {
    color: #3F51B5;
}
.gray {
  background-color:#616161;
}
.gray a {
  color: #212121;
  font-size: 18px;
}
.gray a:hover {
    color: #B6B6B6;
}