<div class="list-group">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 adding-vertical-space" data-ng-repeat="activity in activitiesCtrl.activities | filter:searchText">
        <!--
        <a ng-click="activitiesCtrl.modalPush('lg', activity)" class="list-group-item">
            <h1 class="text-center">{{activity.name}}</h1>
            <h4>{{activity.description}}</h4>
        </a>
        -->
        <a  data-ng-href="#!/activities/{{activity._id}}" class="list-group-item activitybox">
            <p id="activityboxTitle">{{activity.name}}</p>
            <p id="activityboxDesc" >{{activity.description}}</p>
        </a>
    </div>
</div>
<div class="alert alert-warning text-center" data-ng-hide="!activities.$resolved || activities.length">
	No Activities yet, why don't you <a href="/#!/activities/create">create one</a>?
</div>