<section data-ng-controller="ActivitiesController as activitiesCtrl">
    <!--
    <div class="login-from-bg">
        <h3 class="text-center">Activities</h3>
    </div>
    -->
    </br>
    <div class="list-group">
        <div class="col-xs-6 col-sm-4" data-ng-repeat="activity in activitiesCtrl.activities">
            <a  data-ng-href="#!/activities/{{activity._id}}" class="list-group-item">
                <h1 class="text-center">{{activity.name}}</h1>
                <h4>{{activity.description}}</h4>
            </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!activities.$resolved || activities.length">
    	No Activities yet, why don't you <a href="/#!/activities/create">create one</a>?
    </div>
</section>