<section data-ng-controller="ActivitiesController as activitiesCtrl" data-ng-init="findOne()">
		</br>
		</br>
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="Search for..." ng-model="searchEntryText">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Go!</button>
					</span>
				</div><!-- /input-group -->
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
					<button type="button" class="btn btn-warning text-center" ng-click="activitiesCtrl.modalPush('lg', activity)">
						<i class="glyphicon glyphicon-cog"></i> </br>
						New Entry
					</button>
			</div>
		</div>
		</br>
    	<tabset justified="true">
      		<tab heading="Entries">
						</br>
						<accordion close-others="oneAtATime">
							    <accordion-group is-open="status.open" ng-repeat="entry in activity.entries | filter:searchEntryText | orderBy:'entryDatePicker':true">
							    	<accordion-heading> 
							    		<div style="white-space: nowrap; overflow: hidden;">
							    			{{entry.entryDatePicker | date:'yyyy-MM-dd'}}: {{entry.entryText}}
							    			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							    		</div>
										</accordion-heading>
										<div>
		      						<p style="font-size: 16px;padding:5px; ">Duration: {{entry.entryDuration * 1000 | millSecondsToTimeString  }}</p>
		      						<p style="font-size: 16px;padding:5px; word-break: break-all; ">Description: {{entry.entryDescription}}</p>
		      					</div>
		      					<button style="float: right;" ng-click="activitiesCtrl.modalPushUpdate('lg', entry, activity)" class="btn btn-default" >Edit</button>
		    					</accordion-group>
						</accordion>
        	</tab>
      		<tab heading="Stats" select="refreshCharts()">
      			</br>
      			<p>Calendar Heatmap</p>
      			<div class="visible-lg">
      				<cal-heatmap config="{data:heatMapDataObject,domain:'year',range : 1,cellSize:19}"></cal-heatmap>
      			</div>
						<div class="visible-md">
      				<cal-heatmap config="{data:heatMapDataObject,domain:'year',range : 1,cellSize:15}"></cal-heatmap>
      			</div>			
      			<div class="visible-sm">
      				<cal-heatmap config="{data:heatMapDataObject,domain:'month',subDomain : 'day',range : 5, cellSize:22, start:heatMapMonthStartSmDevice}"></cal-heatmap>
      			</div>
      			<div class="visible-xs">
      				<cal-heatmap config="{data:heatMapDataObject,domain:'month',subDomain : 'day',range : 3, cellSize:22, start:heatMapMonthStartXsDevice}"></cal-heatmap>
      			</div> 
      			</br>
      			<p>Bar Chart</p>
      			<div>
							<nvd3 options="options" data="data"></nvd3>
						</div>  
      		</tab>   
    	</tabset>		
		</br>
</section>